@-webkit-keyframes blink { 0% { opacity:0; } 50% { opacity:1; } 100% { opacity:1; } }
@-moz-keyframes blink { 0% { opacity:0; } 50% { opacity:1; } 100% { opacity:1; } }
@keyframes blink { 0% { opacity:0; } 50% { opacity:1; } 100% { opacity:1; } }

blink {
	-webkit-animation: blink 0.5s alternate steps(1) infinite;
	-moz-animation: blink 0.5s alternate steps(1) infinite;
	animation: blink 0.5s alternate steps(1) infinite;
}
