@-webkit-keyframes blink { 50% { opacity: 0; } }
@-moz-keyframes blink { 50% { opacity: 0; } }
@keyframes blink { 50% { opacity: 0; } }

blink {
	-webkit-animation: blink 0.5s alternate steps(1) infinite;
	-moz-animation: blink 0.5s alternate steps(1) infinite;
	animation: blink 0.5s alternate steps(1) infinite;
}
